/* Reset */

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* Fonts */


@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-stretch: 100%;
    src: url('../assets/fonts/GothamSSm-Book_Web.woff2') format("woff2");
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 200;
    font-stretch: 100%;
    src: url('../assets/fonts/GothamSSm-Book_Web.woff2') format("woff2");
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    src: url('../assets/fonts/GothamSSm-Light_Web.woff2') format("woff2");

}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url('../assets/fonts/GothamSSm-Light_Web.woff2') format("woff2");
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    src: url('../assets/fonts/GothamSSm-Medium_Web.woff2') format("woff2");

}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    src: url('../assets/fonts/GothamSSm-Medium_Web.woff2') format("woff2");

}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    src: url('../assets/fonts/GothamSSm-Bold_Web.woff2') format("woff2");

}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url('../assets/fonts/GothamSSm-Bold_Web.woff2') format("woff2");

}

/* General */

html, body {
    font-family: "Open Sans",sans-serif ;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Utility */

.clr {
    clear: both;
}

.mar-y-5 {
    margin: 0px 5px;
}
/*buttons*/

.btn {
    color:#ffffff;
    border:3px solid #ffffff;
    border-radius: 30px;
    display: inline-block;
    padding:5px 35px;
}

.btn:hover{
    transition: 0.5s;
    background:#ffffff;
    color: #000000;
    cursor: pointer;
}

.btn a  {
    letter-spacing: 1px;
    line-height: 14px;
    font-size: 16px;
    font-weight: 500;
}

.btn:hover{
    transition: 0.5s;
    background:#ffffff;
    color: #000000;
    cursor: pointer;
}

.btn-light {
    color:#000000;
    border:3px solid #000000;
    border-radius: 30px;
    display: inline-block;
    padding:9px 24px;
    font-family: "Open Sans";
}

.btn-light a  {
    line-height: 12px;
    font-size: 12px;
    font-weight: 500;
}
.btn-light:hover {
    transition: 0.5s;
    background:#000000;
    color:#ffffff ;
    cursor: pointer;
}

.page1-bar-box .btn {
    background: none;
    color:#ffffff;
    border:2px solid #ffffff;
    border-radius: 30px;
    padding:10px 35px;
}
.page1-bar-box .btn:hover {
    color:#000000;
    background: #ffffff;
}

.plus-icon2 {
    color:#000000;
    font-size:25px;
    display: inline-block;
    border:3px solid black;
    border-radius: 50px;
    padding:0px 10px;

}
.plus-icon3 {
    color:#000000;
    font-size:25px;
    display: inline-block;
    border:3px solid black;
    border-radius: 50px;
    padding:7px 10px;
}

.plus-icon2:hover, .plus-icon3:hover {
    background: #000000;
    color:#ffffff;
    border-color: #000000;
}

.arrow-dark {
    font-size: 22px;
    font-weight: lighter;
    text-align: right;
    position: sticky;
    margin:22px 35px;
    top: 25px;
    right: 15px;
}
.arrow-dark-page3 {
    float: right;
    display:inline-block;
    font-size: 22px;
    font-weight: 100;
    position: sticky;
    margin:22px 35px;
    top: 25px;
    right: 15px;

}
.chat-icon {
    font-size:25px;
    font-weight: 100;
    background: #ffffff;
    border: 0.1px solid rgba(110, 108, 108, 0.34);
    display: inline-block;
    border-radius: 50%;
    padding: 8px 12px;
    position: fixed;
    bottom: 74px;
    right:  37px;
    box-shadow: 1px 1px 1px rgba(110, 108, 108, 0.34);
    z-index: 20;
}

.chat-icon:hover {
    cursor: pointer;
}

.speed2 {
     border: red 3px solid;
    width: 100%;
    height: 30px;
    z-index: 20;
    position: relative;
    bottom: 10%;

}

/* Navbar*/

#nav {
    color:white;
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    overflow: auto;
    z-index: 3;
}

.nav-container  {
    /*margin:10px 20px;*/
    overflow: auto;
    padding: 16px 22px;
    padding-right:32px;

}

#navbar a{
    color:#ffffff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

#nav .mid-bar ul,
#nav .right-bar ul {
    list-style: none;

}

#nav .right-bar {
    float:right;
}


#nav .mid-bar {
    width: 100%;
    margin: auto;
     padding-left:33%;
    display: block;
    text-align: center;

}

#nav .mid-bar ul li a,
#nav .right-bar ul li a{
    /*letter-spacing: 1px;*/
    line-height: 22px;
    font-weight:400;
    font-size: 14px;
    padding:5px 14px;
    padding-right: 16px;
    display: inline ;
    color:#ffffff;
    text-decoration: none;

}

#nav h1{
    float:left;
    padding-top: 20px;
}

#nav .right-bar ul {
    list-style: none;
    float: right;
}

#nav ul li {
    float:left;
}

#nav ul li a {
    display: block;
    padding: 5px 5px;
    text-align: center;
    border-radius: 25px;

}

#nav ul li a:hover
 {
    transition: 0.5s;
    background:#6e7077;
    color: #ffffff;
    border-radius: 25px;
    cursor: pointer;
}

/*Logo */

#nav .logo {
    float:left;
    margin-left: 10px;
    padding-left: 20px;
    z-index: 0;
    position: absolute;
}
#nav .nav-container .logo a:hover {
    background: none;
    cursor: pointer;

}
#page2 .logo-dark {
    display: inline;
    position: sticky;
    top:0%;
}
#page3 .logo-dark {
    display: inline-block;
    display: inline;
    position: sticky;
    margin: 18px 48px;
    top:20px;
}

    /*Left Scroller*/

#left-scroller{
   /*width:3px;*/
    height:31vh;
    color:#ffffff;
    position: fixed;
    top:35.5vh;
    left:8px;
    z-index: 7;
}

#left-scroller .scroller-box {
    color:#7E8189;
    font-size: 22px;
    /*margin-top:2px;*/
    font-weight: 300;
    margin-bottom: 1px;
    margin-left: 2px;
}

#left-scroller .current{
    color: #ffffff;
    font-size: 28px;
}


.n {
    float: right;
}
#left-scroller .scroller-name {
    font-size: 10px;
    color: transparent;
    text-align: left;
    display: inline;
    font-weight: 300;
    margin-left: 3px;
}

#left-scroller .scroller-box a:hover{
    cursor: pointer;
    color: white!important;
    font-weight: 300;
    visibility: visible !important;

}
#left-scroller .scroller-box a:hover + .scroller-name{
    cursor: pointer;
    color: white!important;
    font-weight: 300;
    visibility: visible !important;

}

    /* Page 1 */

#page1 {
    width: 100vw;
    height: 900px;
    background: url('../assets/img/M3-Hero-LHD-US-D.jpeg')
    no-repeat center/cover ;
    background-position: 50% 37%;
    background-size: 100vw, 100vw;

}

#page1 .page1-content{
    position: relative;
}
#page1 .page1-content .page1-header {
    position: absolute;
    top:16vh;
    left:45vw;
    color:#ffffff;
}
#page1 .page1-content .page1-header {
    color:#ffffff;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300

}

#page1 .page1-zero-div {
    height: 685px;
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: -1;
}

#page1 .page1-bar-div {
    height: 200px;
   text-align: center;
    padding:50px 80px;
    color:#ffffff;
}
#page1 .page1-bar-inner-div {
    width:900px;
    margin: auto;
    display: inline-block;
    padding:0px 122px;
}
#page1 .page1-bar-inner-div .page1-bar-box {
    width: 160px;
    height: 170px;
    display: inline-block;
}

#page1 .page1-bar-box1-upper{
    padding:0px 12px;
    margin-top:20px;
}

#page1 .page1-bar-box1-upper-button {
    margin-bottom: -10px;
}

#page1 .page1-bar-box1-upper .speedmeter i{
    width:30px;
    float: left;
    margin-left: 14px;

}

#page1 .page1-bar-inner-div h1 {
    font-size: 27px;
    font-weight: 300;

}
#page1 .page1-bar-inner-div p{
    font-size: 12px;
    font-weight:300;
    margin-top: 10px;
}

#page1 .page1-content .bottom-menu {
    color:#ffffff;
    width: 100%;
    position: absolute;
    display: block;
    top:83vh;
    text-align: center;
    margin-top:20px;
}

#page1 .page1-content  .bottom-menu   .page1-box {
    line-height: 20px;
    display: inline-block;
    width:170px;
    margin: auto;
    text-align: center;
}

#page1 .page1-content  .bottom-menu  .box1-upper {
    color: #ffffff;
    width: 200px;
}

#page1 .page1-content  .bottom-menu  .box1-upper .speedmeter{
    font-size: 2.5em;
    margin-bottom: 10px;
    float:left;

}
#page1 .page1-content  .bottom-menu  .box1-upper h2{
    width: 70%;
    font-size: 36px;
}
#page1 .page1-content  .bottom-menu  .page1-box h2{
    font-size: 36px;
}
#page1 .page1-content  .bottom-menu  .box1-bottom {
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
}

#page1 .bottom-arrow-div{
    display: block;
    position: absolute;
    bottom: 17px;
    left:50%;
    text-align: center;
}

#page1 .arrow{
    color:white;
}

#page1 .arrow:hover {
    cursor: pointer;
}

/*Page 2*/

#page2 {
    background:#F2F2F2;
    height:900px;
    width:100%;
    z-index: 4;
    position: relative;
}

#page2 .page2-left-content {
    width: 420px;
    height:900px;
    float:left;
    background: #ffffff;
    padding:20px 50px;
    text-align: justify;
}

#page2 .page2-left-content h2 {
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    margin-top:12px;
    color:#181b21;
    height: 10px;
}

#page2 .page2-left-content h1 {
    font-size: 28px;
    line-height: 2;
    font-weight: bold;
    font-weight: 500;
    text-align: left;
    color:#181b21;
    height: 60px;
}

#page2 .page2-left-content-inside {
    background: #E2E4E4;
    color: #000000;
    width:100%;
    height:290px;
    border-radius: 30px;
    margin-top:20px;
    padding:5px 12px;
}

#page2 .page2-left-content-inside h2{
    color: #191C22;
    font-weight: 500;
    font-size: 20px;
     margin-bottom: 20px;
    text-align: center;
}

#page2 .page2-left-content-inside .h2-rating{
    text-align: center;
}

#page2 .page2-left-content p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    text-align: left;
    color:#393c41;
}

#page2 .page2-img{
    height: 900px;
    background: url('../assets/img/model_3_safety_hero.png')
    no-repeat center/cover ;
    background-size: 78vw, 78vw;
    margin-left: 67px;
    margin-top:32px;
}
#page2 .infos-div {
    position: relative;

}

.circle {
    display: inline-block;
    height: 10px;
    width: 10px;
    border: black 2px solid;
    background: white;
    border-radius: 50%;
}
.circle1 {
    margin-left: -7.5px;
    margin-top: 270px;

}

.circle2 {
    margin-left: -7.5px;
    margin-top: 170px;
}

.circle3 {
    margin-left: -7.5px;
    margin-bottom: 170px;

}

#page2 .page2-img .info-left {
    height: 370px;
    width:100px;
    position: inherit;
    margin-left: 41%;
    padding-top: 105px;
}
#page2 .page2-img .info-left p,
#page2 .page2-img .info-top p,
#page2 .page2-img .info-bottom p
{
    width:300px;
    font-size: 14px;
    font-weight: 500;
    color: #393D41;
}

#page2 .page2-img .info-top {
    height: 200px;
    width:100px;
    display: inline-block;
    top:-13px;
    margin-left: 39%;
    position: absolute;
}

#page2 .infos-div {

}
#page2 .page2-img .info-bottom {
    height: 130px;
    display: inline-block;
    width:100px;
    position: absolute;
    left:62%;
    top:124%;
}

#page2 .page2-img .black-line-left {
    height: 270px;
    border-left: black 3px solid;
    margin-left: -20px;
}
#page2 .page2-img .black-line-top {
    height: 170px;
    border-left: black 3px solid;
    margin-left: -20px;
}

#page2 .page2-img .black-line-bottom{
    height: 170px;
    border-left: black 3px solid;
    margin-left: -20px;
}

#page2 .rating-div {
    width:100%;
    margin-top:15px;
    text-align: left;
    font-size: 14px;
}
#page2 .rating-div .stars {
    font-size: 17px;
    display: block;
    width:50%;
    float: right;
    text-align: center;
    letter-spacing: 6px;
    /*margin-left: 20px;*/
}
#page2 .rating-div p {
    font-size: 10px;
    display: inline-block;
    width:50%;
    float: left;
}

#page2 .text-rating {
    font-size: 12px;
   display: inline-block;

}
#page2 .page2-buttons-div {
    overflow: auto;
    text-align: center;
    width:100%;
    display:  block;
    margin-top: 180px;
}
#page2 .learn-more-button{
      font-size: 12px;
    margin-right: 10px;
    letter-spacing: -1px;
    font-weight: 800;
}
#page2 .plus-icon {
    height: 60px;
    line-height:35px;
    font-size: 40px;
    width: 50%;
    float:left;
    display: inline ;
    overflow: auto;
    cursor: pointer;
    margin-bottom: 20px;

}
#page2 .plus-icon:hover {
    transition: 1s;
     color:grey;

}
#page2 .plus-icon span p {
    line-height: 45px;
    margin-right: 10px;
    width: 50%;
    float:right;
    font-size: 12px;
}

/* Page 3 */

#page3 {
    background: white;
    width: 100vw;
    height: 900px;
    z-index: 6;
    position: relative;
}
#page3 .page3-img {
    width: 100vw;
    height: 640px;
    background: url('../assets/img/lhd-performance-hero-desktop.jpeg')
    no-repeat   ;
    background-position:  50% 50%;
    background-size: 100vw, 100vw;
}

#page3 .page3-middle-bar {
    color:#ffffff;
    display:block;
    text-align: center;
    margin-top: 474px;
}

#page3 .page3-middle-box1, #page3 .page3-middle-box2,#page3 .page3-middle-box3 {
    display: inline-block;
    width:300px;
    text-align: center;
    margin:0px 12px

}
#page3 .page3-middle-box-header .speedmeter i, #page1 .speedmeter{
    font-size: 33px;
    margin-right:3px;
}

#page3 .speedmeter,#page3 .page3-middle-bar h1,
#page3 .page3-middle-bar p,
#page3 .page3-middle-bar .page3-middle-bottom,
.page3-middle-box-header
{
    display: inline-block;
}
#page3 .page3-middle-bar h1 {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: -1px;
}

#page3 .page3-middle-bar p {
    font-size: 11px;
    font-weight: 400;

}

#page3 .page3-buttons {
    margin: auto;

}

#page3 .page3-bottom-menu {
    width: 100%;
    height:250px;
    text-align: center;
    padding-top:10px;
}

#page3 .page3-bottom-menu p,
#page3 .page3-bottom-menu h1,
#page3 .page3-bottom-menu h2
{
    display: inline-block;
}
#page3 .page3-bottom-menu h2{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}
#page3 .page3-bottom-menu h1 {
    font-size: 28px;
    letter-spacing: -1px;
    font-weight: 500;
}
#page3 .page3-bottom-menu p {
    font-size: 14px;
    font-weight: 100;
}

#page3 .learn-more-button {
    font-size:12px !important;
}
#page3 .page3-buttons-div{
    text-align: left;
    width:370px;
    padding:32px;
    line-height: 24px;
}
#page3 .page3-buttons-div,#page3 .page3-bottom-menu-text-p {
    display: inline-block;
    height: 100%;
    padding-right: 15px;
}
#page3 .page3-bottom-menu-text-p {
    text-align: justify;
    width: 650px;
    height: 110%;
    line-height: 22px;
    padding-right: 40px;
}
#page3 .plus-icon {
    display: inline-block;
    margin-top: 19px;
}


    /* Css for Logo style copied from the tesla site */

.tds-icon {
    -webkit-text-size-adjust: 100%;
    --tds-bezier: cubic-bezier(0.5,0,0,0.75);
    --tds-color--black: #000;
    --tds-color--blue10: #2e4994;
    --tds-color--blue20: #3457b2;
    --tds-color--blue30: #3d69e1;
    --tds-color--green: #13bd00;
    --tds-color--grey10: #181b21;
    --tds-color--grey15: #212121;
    --tds-color--grey20: #393c41;
    --tds-color--grey25: #454545;
    --tds-color--grey30: #5c5d61;
    --tds-color--grey35: #8f8f8f;
    --tds-color--grey40: #a1a3a5;
    --tds-color--grey45: #bababa;
    --tds-color--grey50: #d0d1d2;
    --tds-color--grey60: #e2e4e4;
    --tds-color--grey65: #ededed;
    --tds-color--grey70: #f5f5f5;
    --tds-color--red10: #b74134;
    --tds-color--red20: #ed4d3b;
    --tds-color--white: #fff;
    --tds-color--yellow: #fcb11d;
    --tds-size: 8px;
    --tds-size--10x: 80px;
    --tds-size--11x: 88px;
    --tds-size--12x: 96px;
    --tds-size--13x: 104px;
    --tds-size--1x: 8px;
    --tds-size--2x: 16px;
    --tds-size--3x: 24px;
    --tds-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    --tds-font-family--arabic: Swissra,Arial;
    --tds-font-family--chinese-hk: "PingFang HK","Microsoft YaHei";
    --tds-font-family--chinese-simplified: "PingFang SC","Microsoft YaHei";
    --tds-font-family--chinese-traditional: "PingFang TC","Microsoft YaHei";
    --tds-font-family--hebrew: Arial;
    --tds-font-family--japanese: "AXIS Font Japanese W55","Hiragino Sans";
    --tds-font-family--korean: "FB New Gothic";
    --tds-font-family--latin: "Gotham SSm";
    --tds-font-family--monospace: "Fira Code",SFMono-Regular,Consolas,"Liberation Mono",Menlo,monospace;
    --tds-font-weight--bold: 700;
    --tds-font-weight--book: 400;
    --tds-font-weight--light: 300;
    --tds-font-weight--medium: 500;
    --tds-font-weight--xlight: 200;
    --tds-border-radius: 4px;
    --tds-border-radius--card: 16px;
    --tds-border-radius--card--dense: 8px;
    --tds-border-radius--circle: 100%;
    --tds-border-radius--form-item: 20px;
    --tds-border-radius--pill: 32px;
    --tds-border-style: solid;
    --tds-border-width--hairline: 1px;
    --tds-border-width--large: 3px;
    --tds-border-width--medium: 2px;
    --tds-border-width--small: 1px;
    --tds-box-shadow--large: 0 8px 16px 0 rgba(0,0,0,0.16);
    --tds-box-shadow--large-reverse: 0 -8px 16px 0 rgba(0,0,0,0.16);
    --tds-box-shadow--medium: 0 8px 16px 0 rgba(0,0,0,0.12);
    --tds-box-shadow--off: 0 0 0 0 transparent;
    --tds-box-shadow--small: 0 4px 8px 0 rgba(0,0,0,0.08);
    --tds-font-size--10: 10px;
    --tds-font-size--20: 12px;
    --tds-font-size--30: 14px;
    --tds-font-size--40: 17px;
    --tds-font-size--50: 20px;
    --tds-font-size--55: 23px;
    --tds-font-size--60: 24px;
    --tds-font-size--70: 28px;
    --tds-font-size--75: 34px;
    --tds-font-size--80: 40px;
    --tds-height--pill: 40px;
    --tds-line-height--10: 18px;
    --tds-line-height--20: 20px;
    --tds-line-height--30: 21px;
    --tds-line-height--40: 23px;
    --tds-line-height--50: 24px;
    --tds-line-height--60: 28px;
    --tds-line-height--70: 36px;
    --tds-line-height--75: 45px;
    --tds-line-height--80: 48px;
    --tds-line-height--unitless: 1.414;
    --tds-opacity--100: 1;
    --tds-opacity--30: 0.3;
    --tds-opacity--50: 0.5;
    --tds-opacity--70: 0.7;
    --tds-opacity--transparent: 0;
    --tds-padding--card: 24px;
    --tds-padding--card--dense: 16px;
    --tds-padding-block--pill: 10px;
    --tds-padding-inline--pill: 20px;
    --tds-base-font_size: var(--tds-font-size--30);
    --tds-base-line_height: var(--tds-line-height--30);
    --tds-color--error: var(--tds-color--red10);
    --tds-color--focus-ring: rgba(0,0,0,0.2);
    --tds-color--inverse: var(--tds-color--white);
    --tds-color--primary: var(--tds-color--blue30);
    --tds-color--primary-highlight: var(--tds-color--blue20);
    --tds-color--rgb-shade: 0,0,0;
    --tds-color--rgb-shade--inverse: 255,255,255;
    --tds-color--scrim--semitransparent: hsla(0,0%,100%,0.7);
    --tds-color--secondary-accent: var(--tds-color--grey50);
    --tds-color--secondary-highlight: var(--tds-color--black);
    --tds-color--tertiary: var(--tds-color--grey70);
    --tds-color--tertiary-highlight: var(--tds-color--grey65);
    --tds-caption--color: var(--tds-color--grey30);
    --tds-dialog--background-color: var(--tds-color--white);
    --tds-text--color--light: var(--tds-color--grey30);
    --tds-text--color--primary: var(--tds-color--blue30);
    --tds-toggle--background-color: hsla(0,0%,59%,0.1);
    --tds-toggle--fill-color: var(--tds-color--white);
    --tds-text--contrast-high: var(--tds-color--grey10);
    --tds-text--contrast-low: var(--tds-color--grey30);
    --tds-text--contrast-medium: var(--tds-color--grey20);
    --tds-code-bg-color: var(--tds-color--grey70);
    --tds-code-border-color: var(--tds-color--grey60);
    --tds-outline--focus: 2px dashed var(--tds-color--grey35);
    --tds-background-image--check: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 height=%2730%27 width=%2730%27 version=%271%27%3E%3Cpath fill=%27none%27 stroke=%27%23171a20%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M11 2 4 9 1 6%27/%3E%3C/svg%3E");
    --tds-banner--padding: var(--tds-size--2x);
    --tds-content_container--max_width: 1060px;
    --tds-icon--bg: transparent;
    --tds-icon--size: 30px;
    --tds-icon-trigger--animation: color 900ms cubic-bezier(0.75,0,0,1),border 900ms cubic-bezier(0.75,0,0,1),opacity 900ms cubic-bezier(0.75,0,0,1),transform 900ms cubic-bezier(0.75,0,0,1),box-shadow 250ms cubic-bezier(0.75,0,0,1),background-color 900ms cubic-bezier(0.75,0,0,1);
    --tds-icon-trigger--border_size: 2px;
    --tds-gutter: var(--tds-size--3x);
    --tds-gutter--half: calc(var(--tds-size--3x)/2);
    --tds-gutter--negative: calc(var(--tds-size--3x)*-1);
    --tds-gutter--half_negative: calc(var(--tds-gutter--negative)/2);
    --tds-shell-footer-height: 52px;
    --tds-shell-header-height: 52px;
    --tds-spinner-size: 64px;
    --tds-table--vertical-align: middle;
    --tds-table-border_color: var(--tds-color--grey50);
    --tds-table-border_spacing: 0;
    --tds-table-border_width: 1px;
    overflow: hidden;
    text-indent: -9999px;
    inline-size: calc(var(--tds-icon--size)*4);
}

